<aside class="col-md-3">
  <ul class="list-group">
    <a id="sidebar-dashboard" class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
    <a id="sidebar-my_orders" class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'my_orders' %}">My Orders</a>
    <a id="sidebar-edit_profile" class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}">Edit Profile</a>
    <a id="sidebar-change_password" class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}">Change Password</a>
  </ul>
  <br>
  <a id="sidebar-logout" class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
</aside>