{% load static %}
<nav class="bg-dark navbar p-md-0 navbar-expand-sm nav col-12 col-lg-auto me-lg-auto mb-2  mb-md-0 border-bottom">
    <div class="container">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Language</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">German</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Currency</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <li><a class="dropdown-item" href="#">EUR</a></li>
              <li><a class="dropdown-item" href="#">USD</a></li>
            </ul>
        </li>
        <li>
      </ul>
      <ul class="navbar-nav">
        <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
        <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
      </ul>
    </div>
  </nav>
<header class="font-monospace p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
        <img src={% static 'assets/logo.svg' %} width="80" height="80" alt="Logo SVG image">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 m justify-content-center mb-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              {% for category in links %}
              <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
        </li>
        <li>
          <a href="{% url 'store' %}" class="btn btn-outline-light me-2">Store</a>
        </li>
      </ul>

      <div class="col-lg  col-md-6 col-sm-12 col">
        <form action="{% url 'search' %}" class="search" method='GET'>
          <div class="input-group w-100">
            <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword" required>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
        <div class="d-flex justify-content-end mb-3 mb-lg-0">
          {% if user.id is None %}
          <div class="widget-header">
            <small class="title text-muted">Welcome guest!</small>
            <div>
              <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
              <a href="{% url 'register' %}"> Register</a>
            </div>
          </div>
          {% else %}
          <div class="widget-header">
            <small class="title text-muted">Welcome {{user.first_name}}!</small>
            <div>
              <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
              <a href="{% url 'logout' %}"> Logout</a>
            </div>
          </div>
          {% endif %}
          <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>